<div >
  <div class="home-banner">
    <div class="container pt-3">
      <h1>Rent a tipi !</h1>
      <p>Rent any kind of tent anywhere near you, from small camping tents to luxury glamping .</p>
    </div>
    <div class="container pt-3">
          <%= form_tag root_path, remote: true, method: :get do %>
            <div class="search-bar d-flex justify-content-start align-items-center">
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control flex-grow py-0", id:"search_query",
                  placeholder: "Where would you like to camp ?"
                  %>
              <div class="search-btn">
                  <%= submit_tag "Let's go !", class: "btn ml-2 btn-search" %>
              </div>
            </div>
          <% end %>
    </div>
  </div>

<!-- CARDS & MAP -->
  <div class="container-index" style="display: flex; height: calc(100vh - 56px); overflow:hidden">
    <div class="col-lg-7" style="overflow: scroll;">
      <div class="cards">
        <% @tents.each do |tent| %>
          <div class="card-trip">
            <%= link_to tent_path(tent), class:"link" do %>
              <% if tent.photo_one.attached? %>
                <%= cl_image_tag tent.photo_one.key, height: 300, width: 400, crop: :fill, class:"card-category img" %>
              <% else %>
                <%= image_tag "https://source.unsplash.com/1600x900/?tent", alt: "alttext", style:"background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2))", class:"card-category img" %>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= tent.title.capitalize %></h2>
                  <p><i class="fas fa-users"></i> <%= tent.capacity %></p>
                  <p><i class="fas fa-map-marker-alt"></i> <%= tent.location.capitalize %></p>
                  <p><i class="fas fa-info-circle"></i> <%= tent.description.capitalize %></p>
                </div>
                <h2 class="card-trip-pricing"><%= tent.price %>€</h2>
                <% if tent.user.avatar.attached? %>
                  <%= cl_image_tag tent.user.avatar.key, crop: :thumb, gravity: :face, alt: "avatar user", class:"card-trip-user avatar-bordered"%>
                <% else %>
                  <i class="card-no-avatar far fa-user"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="index-map col-lg-5">
      <div class="map-container">
        <div id="map"
         style="width: 100%;
         height: 800px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

  </div>

</div>
