<div class="container main-container col-8">
  <h1>Add a new tent !</h1>

  <%= simple_form_for @tent do |t| %>
    <%= t.input :title %>
    <%= t.input :description %>
    <%= t.input :capacity %>
    <%= t.input :comfort_level, collection: Tent::LEVEL%>
    <%= t.input :location %>
    <%= t.input :price %>
  <div class="div" style="display: flex">
    <%= t.input :photo_one, as: :file %>
    <%= t.input :photo_two, as: :file %>
    <%= t.input :photo_three, as: :file %>
  </div>
    <%= t.submit %>
  <% end %>

  <%= link_to "â¬…ï¸", root_path %>
</div>
