 <div class="container main-container row row-details w-100">
  <div class="details-container col-12 col-lg-8 ">
    <div class="carrousel-container">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag @tent.photo_one.key, class:"d-block w-100 carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @tent.photo_two.key, class:"d-block w-100 carousel-img"%>
          </div>
          <div class="carousel-item">
          <%= cl_image_tag @tent.photo_three.key, class:"d-block w-100 carousel-img"%>
          </div>
        </div>
      </div>
    </div> 
    <div class="card-details" >
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Description: </strong>
          <%= @tent.description %>
          <i class="fas fa-info-circle"></i>
        </li>
        <li class="list-group-item">
          <strong>Capacity: </strong>
          <% @tent.capacity.times do %>
            <i class="fas fa-male"></i>
          <% end %>
        </li>
        <li class="list-group-item">
          <strong>Location: </strong>
          <%= @tent.location %>
          <i class="fas fa-map-marker-alt"></i>
        </li>
        <li class="list-group-item">
          <strong>Comfort-level: </strong> 
          <% @tent.comfort_level.times do %>
            <i class="fas fa-campground"></i>
          <% end %>
         </li>
      </ul>
    </div>

    <div class="map" >
      <%= image_tag 'image.png', class: "w-100" %> 
    </div>
  </div>
  <div class="card-booking col-12 col-lg-4" style="width: 100%;">
    <a class="btn btn-success" href="#">Book now !</a>
  </div>
</div> 

