<br>
<br>
<br>
<br>
<br>
<br>
<br>
<label for="datepicker">Reservations dates</label>
<input type="text" class="datepicker" name="datepicker">
<%= simple_form_for [@tent, @booking] do |b|  %>
<%= b.input :start_date, as: :string  %>
<%= b.input :end_date, as: :string %>
<p class="price-per-day" data-price="<%= @tent.price %>">Price: <%= @tent.price %></p>
<p class="total-price"></p>
<%= b.submit id:"submit-dates" %>
<% end %>

